<%- include('partials/navbar.ejs')%>
    <header>
        <h1>Add Food</h1>
        <a href="/food">Show All Food</a>
    </header>
  <form action="/food/add" method="POST">
    <label>Food Name</label><br/>
    <input name="food_name" /><br/>
   
    <input type="submit" value="Submit!" /><br/>

  </form>

  </form>
</body>
</html>