<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Info</title>
    </head>
    <body>
        <h1>Selamat datang pengunjung baru!</h1>
        <p>
            Hati-hati dengan jarimu. Asal click delete, hari-harimu akan tidak indah!
        </p>
        <a href="/">Baik</a></td>
    </body>
</html>